YetAnotherTextRpg/Resources/Dialogues/dialogue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Dialogue">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Screen" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Says" type="xs:string" />
              <xs:element name="Choices">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Choice" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="DisplayCondition" type="xs:string" use="optional" />
                            <xs:attribute name="Action" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Default" type="xs:boolean" use="optional" default="false" />
            <xs:attribute name="Id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
